*{
    margin:0;
    padding:0;
    font-family: 'Golos Text', sans-serif;
}

body{
    background-color: #3a3a3a;
    color:white;
    display:flex;
}

a{
    text-decoration:none;
    color:white;
}

li{
    list-style-type: none;
}

/*___________________HEADER*/
header{
    display:flex;
    max-height: 100vh;
    background-color: #3A1078;
    flex-flow:column nowrap;
    position:sticky;
}

header div img{
    min-width: 5vw;
    max-width:8vw;
    margin:1em;
}

/*___________________HEADER-NAV*/
nav#nav{
    display:flex;
    justify-content: center;
}

nav#nav ul li{
  margin:0.5em;
  padding:0.5em;
}
nav#nav ul li:hover{
    background-color: rgba(255, 255,255, 0.5);
    border-radius: 1em;
  }



/*___________________CONTENT-LIST*/

section#content-list-section{
    background-color: #4E31AA;
    max-height: 100vh;
    min-width: 25vw;
    padding: 0 1em;

    display:flex;
    flex-flow: column;

    /*align-items: flex-start;*/
    /*justify-content: space-around;*/
}

div#content-list-search-block{
    margin: 1em 0.5em;
}
div#content-list-search-block input{
    max-width: 100%;
}

div#content-list-div{
    display:flex;
    flex-flow: column nowrap;
    justify-content: start;
    gap :1em;
    overflow:auto;
}
div#content-list-div::-webkit-scrollbar{
    display:none;
}

div.content-list-item{
    padding:1em;
    /*overflow:hidden;*/
    background-color: rgba(255, 255,255, 0.1);
    border-radius: 2vh;
}

div.content-list-item > p {
    font-weight: lighter;
    font-size: small;
}

/*___________________CONTENT-DETAILS*/

section#content-detail-section{
    background-color: #2F58CD;
    display:flex;
    flex-flow:column nowrap;
    overflow:auto;
    max-width:max-content;
    max-height: 100vh;
}

section#content-detail-section::-webkit-scrollbar{
    display:none;
}


div#content-detail-top{
    background-image:  linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.1)
      ),url("./grenoble-1600x900.jpg");

    background-position: center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 40vw;
    /*max-width: fit-content;*/
    min-height: 30vh;

    display:flex;
    flex-flow:column;
    align-items: flex-start;
}

div#content-detail-top p{
    padding:0.2em 0.6em;
    font-weight: bold;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 2vh;
    width:fit-content;
    margin: 0.5em 2%;
}

div#content-detail-top p.content-detail-top-city{
    font-size: 1.2em;
}
div#content-detail-top p.content-detail-top-temperature{
    font-size: 2em;
}

div#content-detail-middle{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap:1em;
    padding-top:1em;
    padding-left: 1em;
}

div#content-detail-todo{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    gap:1em;
}

div#content-detail-todo h3{
    font-size: 1.2em;
}
div#content-detail-todo p{
    font-size: 0.8em;
    margin-right: 3em;
    overflow-wrap: break-word;

}
